<div mat-dialog-content>
  <mat-form-field>
    <mat-label>What's your list's name?</mat-label>
    <input matInput [(ngModel)]="data.model.name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Write a description</mat-label>
    <input matInput placeholder="Description?" [(ngModel)]="data.model.description" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button type="submit" color="primary" [mat-dialog-close]="data.model">
    {{ data.viewMode === 'create' ? 'Create' : 'Update' }}
  </button>
</div>
