<div *ngIf="users.length > 0 else noData">
  <h3>Users</h3>
  <ul>
    <li *ngFor="let user of users">
      <a routerLink="/{{ user.userName }}">{{ user.userName }}</a> - ID: {{ user.id }} - e-mail: {{ user.emailAddress }}
      - {{ user.userLists.length }} Lists
    </li>
  </ul>
  <br />
  <button mat-raised-button color="primary" (click)="createUserDialog()">Create a user</button>
</div>

<ng-template #noData>
  <div class="no-data">
    There is no users yet 😱
    <br />
    <button mat-raised-button color="primary" (click)="createUserDialog()">Create a user</button>
  </div>
</ng-template>
