.body-content {
  padding: 0 16px;

  header {
    display: flex;
    justify-content: space-between;
  }
}

footer {
  align-items: center;
  background-color: lightgrey;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  position: fixed;
  width: calc(100% - 16px);
}
