<h2>
  List details: {{ selectedList.name }}
</h2>
<h4>
  List Description: {{ selectedList.description }}
</h4>

<button mat-raised-button color="primary" (click)="updateListDialog()">Update List</button>

<div *ngIf="selectedList.listItems.length > 0 else noData">
  <h3>Items of your list</h3>
  <ul>
    <li *ngFor="let item of selectedList.listItems">
      {{ item.entryText }} - {{ item.entryDateText }}
    </li>
  </ul>
</div>

<ng-template #noData>
  <div class="no-data">
    You have no entries yet 😱
    <!-- TODO 👇 -->
    <!-- <button mat-raised-button color="primary" (click)="createEntryDialog()">Create an entry</button> -->
  </div>
</ng-template>

<hr />

<h2>
  Create a new entry
</h2>

<div class="create-entry">
  <mat-form-field>
    <mat-label>Title?</mat-label>
    <input matInput placeholder="Title?" [(ngModel)]="entryText" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Entry date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="entryDate" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="createEntry()">Add to List</button>
</div>
