<ol>
  <li>
    <button mat-raised-button color="primary" (click)="openDialog('create')">Create New List</button>
  </li>
</ol>
<br />
<div *ngIf="lists.length > 0 else noData">
  <h3>Your lists</h3>
  <ul>
    <li *ngFor="let list of lists">
      <a routerLink="/list/{{ list.id }}">{{ list.name }}</a> - {{ list.description }} - {{ list.numberOfEntries }}
      Entries
    </li>
  </ul>
</div>
<div>
  <ng-template #noData>
    <div>
      <ul>
        <li>You have no lists yet 😱</li>
      </ul>
    </div>
  </ng-template>
</div>
