<div>
  <h2>
    Create a list
  </h2>

  <mat-form-field>
    <mat-label>What's your list name?</mat-label>
    <input matInput placeholder="Name?" [(ngModel)]="listName" />
  </mat-form-field>
  <br />
  <div>
    <button mat-raised-button color="primary" (click)="createList()">Create</button>
  </div>
</div>

<div *ngIf="lists.length > 0 else noData">
  <h3>Your lists</h3>
  <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile *ngFor="let list of lists"><a routerLink="/list/{{ list.id }}">{{ list.name }}</a></mat-grid-tile>
  </mat-grid-list>

  <ng-template #noData>
    <div>
      <ul>
        <li>You have no lists yet 😱</li>
      </ul>
    </div>
  </ng-template>
</div>
