<div mat-dialog-content>
  <mat-form-field>
    <mat-label>What's your list's name?</mat-label>
    <input matInput [(ngModel)]="data.name" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Write a description</mat-label>
    <input matInput placeholder="Description?" [(ngModel)]="data.description" />
  </mat-form-field>
</div>
<br />
<div mat-dialog-actions>
  <div *ngIf="data.viewState == 'create'">
    <button mat-button color="primary" [mat-dialog-close]="data">Create</button>
    <button mat-button color="warn" mat-dialog-close>Cancel</button>
  </div>

  <div *ngIf="data.viewState == 'update'">
    <button mat-button color="accent" [mat-dialog-close]="data">Update</button>
    <button mat-button color="warn" mat-dialog-close>Cancel</button>
  </div>

  <div *ngIf="data.viewState == 'delete'">
    <!--TODO-->
  </div>
</div>
