<div>
  <h2>
    Make A List
  </h2>

<mat-form-field>
  <mat-label>What's your list name?</mat-label>
  <input matInput placeholder="Name?" [(ngModel)]="listName" />
</mat-form-field>
</div>

<div>
  <h2>
    Add something to your list
  </h2>

  <mat-form-field>
    <mat-label>Title?</mat-label>
    <input matInput placeholder="Title?" [(ngModel)]="titleText" />
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Title's URL? (optional)</mat-label>
    <input matInput placeholder="URL?" [(ngModel)]="titleURL" />
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Where do you want to add this?</mat-label>
    <mat-select [formControl]="lists" multiple>
      <mat-select-trigger>
        {{lists.value ? lists.value[0] : ''}}
        <span *ngIf="lists.value?.length > 1" class="selection">
          (+{{lists.value.length - 1}} {{lists.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let lists of listOfLists" [value]="lists">{{lists}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <div>
    When did you read/study this?
    <input type="date" [(ngModel)]="dateActualText" />
  </div>


</div>


<div>
  <h3>A list of Your Lists</h3>
</div>

<ul>
  <li>List Name: Call list.name</li>
  <li>Date Updated: Call list.lastupdate</li>
  <li>No of items: Call list.noOfListItems</li>
</ul>