<div>
  <h3>A list of Your Lists</h3>
</div>

<mat-table>
  <ng-container>
    <mat-header-cell>
      List Name
    </mat-header-cell>
    <mat-cell>
      Call list.name
    </mat-cell>
  </ng-container>

  <ng-container>
  <mat-header-cell>
    Date Updated
  </mat-header-cell>
  <mat-cell>
    Call list.lastupdate
  </mat-cell>
</ng-container>

<ng-container>
  <mat-header-cell>
    No of items
  </mat-header-cell>
  <mat-cell>
    Call list.noOfListItems
  </mat-cell>
</ng-container>

</mat-table>