<div>
  <h2>
    Make A List
  </h2>

  <mat-form-field>
    <mat-label>What's your list name?</mat-label>
    <input matInput placeholder="Name?" [(ngModel)]="listName" />
  </mat-form-field>
  <br>
  <div>
    <button mat-raised-button color="primary" (click)="addNewList()">New List</button>
  </div>
</div>

<div>
  <h2>
    Add something to your list
  </h2>

  <mat-form-field>
    <mat-label>Title?</mat-label>
    <input matInput placeholder="Title?" [(ngModel)]="titleText" />
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Title's URL? (optional)</mat-label>
    <input matInput placeholder="URL?" [(ngModel)]="titleURL" />
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>Where do you want to add this?</mat-label>
    <mat-select [(ngModel)]="selectedList">
      <mat-option *ngFor="let yourList of lists" [value]="yourList">
        {{ yourList.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  <mat-form-field appearance="fill">
    <mat-label>When did you read this?</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="dateActual">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<br>
<div>
  <button mat-raised-button color="primary" (click)="addNewListItem()">Add to List</button>
</div>
<br>
<div *ngIf="lists.length > 0 else noData">
  <h3>A list of Your Lists</h3>

  <ul>
    <li *ngFor="let yourList of lists"> {{ yourList.id }} - {{ yourList.name }}</li>
  </ul>
</div>

<div *ngIf="viewListItems == 'yes' else noData">
  <h3>Items of Your Lists</h3>

  <ul>
    <li *ngFor="let yourListItem of yourListItems">
      {{ yourListItem.id }} - {{ yourListItem.listId }} - {{ yourListItem.titleText }}</li>
  </ul>
</div>

<ng-template #noData>
  <div>
    <ul>
      <li>Please add new data.</li>
    </ul>
  </div>
</ng-template>