<div *ngIf="selectedUser">
  <!-- User Dashboard -->
  <div *ngIf="loggedInUser">
    <h2>Dashboard</h2>
    <ul>
      <li>Number of Lists: {{selectedUser.userLists.length}}</li>
      <li *ngFor="let list of selectedUser.userLists">{{ list.name }} - {{ list.listItems.length }} Entries</li>
    </ul>
  </div>
  <!-- User Details -->
  <h2>User Name: {{ selectedUser.userName }}</h2>
  <h4 *ngIf="loggedInUser">User's e-mail address: {{ selectedUser.emailAddress }}</h4>
  <!--TODO 'use showMail instead of loggedInUser' Add: "Do you want others to see your mail?" to user properties page-->
  <button *ngIf="loggedInUser" mat-raised-button color="primary" (click)="updateUserDialog()">
    Update User Information
  </button>
  <br />
  <!-- User's Lists -->
  <div *ngIf="selectedUser.userLists.length > 0 else noData">
    <h3>Lists</h3>
    <button *ngIf="loggedInUser" mat-raised-button color="primary" (click)="createListDialog()">Create a list</button>
    <ul>
      <li *ngFor="let list of selectedUser.userLists">
        <a routerLink="/{{ selectedUser.userName }}/{{ list.id }}">{{ list.name }}</a> - {{ list.description }} - {{
        list.listItems.length }} Entries
      </li>
    </ul>
  </div>
  <ng-template #noData>
    <div class="no-data">
      No lists yet 😱
      <button *ngIf="loggedInUser" mat-raised-button color="primary" (click)="createListDialog()">Create a list</button>
    </div>
  </ng-template>
</div>
