<div *ngIf="lists.length > 0 else noData">
  <h3>Your lists</h3>
  <button mat-raised-button color="primary" (click)="createListDialog()">Create a list</button>
  <ul>
    <li *ngFor="let list of lists">
      <a routerLink="/{{ userName }}/{{ list.id }}">{{ list.name }}</a> - {{ list.description }} - {{
      list.listItems.length }} Entries
    </li>
  </ul>
</div>
<ng-template #noData>
  <div class="no-data">
    You have no lists yet 😱
    <button mat-raised-button color="primary" (click)="createListDialog()">Create a list</button>
  </div>
</ng-template>
